:root{
    --section-color-1: #ffffff;
    --section-color-2: #e7e7e7;

    --font-color-1: #ffffff;
    --font-color-2: #333333;

    --element-color-1: #000000;
    --element-color-2: #86878B;

    --mask-color: #00000082;
    

}